<footer>
    <div class="wrapper">
        <div class="column">
            <h4 class="footer__title footer-has-drop">Оптовым клиентам</h4>
            <div class="dropdown-footer">
                <a href="">Стать партнером</a>
                <a href="">Дропшиппинг</a>
                <a href="">Скачать каталог</a>
                <a href="">Отзывы</a>
            </div>
        </div>
        <!-- <div class="column">
            <h4 class="footer__title footer-has-drop">Профиль</h4>
            <div class="dropdown-footer">
            <a href="">Избранное</a>
            <a href="">Мои заказы</a>
            <a href="">Сообщить об оплате</a>
            <a href="">Размерная сетка</a>
            </div>
        </div> -->
        <div class="column">
            <h4 class="footer__title footer-has-drop">Информация</h4>
            <div class="dropdown-footer">
                <a href="">Оплата и доставка</a>
                <a href="">Возврат/обмен</a>
                <div class="column_opc">
                    <h4 class="footer__title">FAQ</h4>
                    <a href="">О нас</a>
                    <a href="">Каталог</a>
                </div>
            </div>
        </div>
        <div class="column">
            <h4 class="footer__title">Контакты</h4>
            <a href="tel:+38 095 777 10 72" class="phone">+38 095 777 10 72</a>
            <a href="tel:+38 073 777 10 72" class="phone">+38 095 777 10 72</a>
            <a href="mailto:sale@st-style.com.ua" class="e-mail">sale@st-style.com.ua</a>
            <p class="worktime">Пн-Сб (10:00 - 19:00)</p>
        </div>
        <div class="column">
            <h4 class="footer__title">Подпись на рассылку</h4>
            <p>Подпишитесь на рассылку и получайте уведомления о новинках первыми</p>
            <form action="">
                <input type="text" placeholder="E-mail"> <button></button>
            </form>
            <div class="social-icons">
                <a href=""><img src="img/instagram.svg" alt="" class='img-svg'></a>
                <a href=""><img src="img/okru.svg" alt="" class='img-svg'></a>
                <a href=""><img src="img/vk.svg" alt="" class='img-svg'></a>
                <a href=""><img src="img/facebook.svg" alt="" class='img-svg'></a>
            </div>
        </div>
    </div>
    <div class="low-footer">
        <div class="wrapper">
            ST-Style © Copyright 2021. Все права защищены

            <a href=""> Политика конфиденциальности</a>

        </div>
    </div>
    <a id="button_go-up"><img src="img/ar-top.png" alt=""></a>
</footer>
<div class="minicart" id="open-minicart">
    <div class="minicart_header">
        <h1>Корзина</h1>
        <span class="close-btn"></span>
    </div>
    <div class="minicart_scrolled-container">
        <div class="empty-cart-frame">
            <div class="container">
                <img src="img/cart-big.svg" alt="">
                <h5>Ваша корзина пуста</h5>
                <p>Добавьте товары чтобы это исправить</p>
                <a href="/" class="btn">Начать покупки</a>
            </div>
        </div>
    </div>
    <div class="minicart-footer">
        <div class="sum-of-order">
            <h4>Сумма заказа:<span>0 UAH</span></h4>
            <p>Количество товара: <span>0</span> шт</p>
        </div>
        <div class="minicart-control">
            <a href="/checkout" class="btn">Оформить заказ</a>
            <div class="flex-container">
                <a href="" class="link">Продолжить покупки</a>
                <a href="" class="btn">Купить в 1 клик</a>
            </div>
        </div>
    </div>
</div>
<div style="display: none;" id="add-testimonals">
    <h1 class="fancy-box_title">Оставить отзыв</h1>
    <form action="">
        <div class="change_rating">
            <div class="rating">
                <input type="radio" name="rating" id="rating-5">
                <label for="rating-5"></label>
                <input type="radio" name="rating" id="rating-4">
                <label for="rating-4"></label>
                <input type="radio" name="rating" id="rating-3">
                <label for="rating-3"></label>
                <input type="radio" name="rating" id="rating-2">
                <label for="rating-2"></label>
                <input type="radio" name="rating" id="rating-1">
                <label for="rating-1"></label>
            </div>
        </div>

        <label for="fio">ФИО <span>*</span></label>
        <input type="text" id="fio" placeholder="ФИО">
        <label for="fio">Введите Email или телефон <span>*</span></label>
        <input type="text" id="fio" placeholder="Email или телефон">
        <label for="fio">Ваш комментарий <span>*</span></label>
        <textarea id="fio" placeholder="Комментарий"></textarea>

        <input type="button" value="Отправить" class="btn">
    </form>
</div>
<div class="alert-container">

</div>
<div id="sizes-table" style="display: none;">
    <table>
        <tr>
            <td>СНГ</td>
            <td>EU</td>
            <td>RU</td>
            <td>Объем груди</td>
            <td>Объем талии</td>
            <td>Объем бедер</td>
        </tr>
        <tr>
            <td>s</td>
            <td>36</td>
            <td>42</td>
            <td>82-86</td>
            <td>62-66</td>
            <td>90-94</td>
        </tr>
        <tr>
            <td>s-m</td>
            <td>-</td>
            <td>42-44</td>
            <td>82-90</td>
            <td>62-70</td>
            <td>90-98</td>
        </tr>
        <tr>
            <td>m</td>
            <td>38</td>
            <td>44</td>
            <td>86-90</td>
            <td>66-70</td>
            <td>94-98</td>
        </tr>
        <tr>
            <td>m-l</td>
            <td>-</td>
            <td>44-46</td>
            <td>86-94</td>
            <td>66-74</td>
            <td>94-102</td>
        </tr>
        <tr>
            <td>l</td>
            <td>40</td>
            <td>46</td>
            <td>90-94</td>
            <td>70-74</td>
            <td>98-102</td>
        </tr>
        <tr>
            <td>xl</td>
            <td>42</td>
            <td>48</td>
            <td>94-98</td>
            <td>74-78</td>
            <td>102-106</td>
        </tr>
        <tr>
            <td>2xl</td>
            <td>44</td>
            <td>50</td>
            <td>98-102</td>
            <td>78-82</td>
            <td>106-110</td>
        </tr>
        <tr>
            <td>3xl</td>
            <td>46</td>
            <td>52</td>
            <td>102-106</td>
            <td>82-86</td>
            <td>110-114</td>
        </tr>
        <tr>
            <td>4xl</td>
            <td>48</td>
            <td>54</td>
            <td>106-110</td>
            <td>86-90</td>
            <td>114-118</td>
        </tr>
        <tr>
            <td>5xl</td>
            <td>-</td>
            <td>56</td>
            <td>110-114</td>
            <td>90-94</td>
            <td>118-122</td>
        </tr>
        <tr>
            <td>6xl</td>
            <td>-</td>
            <td>58</td>
            <td>114-118</td>
            <td>94-98</td>
            <td>122-126</td>
        </tr>
    </table>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.min.js" integrity="sha256-RQLbEU539dpygNMsBGZlplus6CkitaLy0btTCHcULpI=" crossorigin="anonymous"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/app.min.js"></script>

</body>

</html>