.ordering {
    .wrapper {
        .flex-container {
            justify-content: space-between;
        }
        .column {
            width: 48%;
            form {
                margin-top: 28px;
            }
        }
    }
}