footer {
    margin-top: 111px;
    border-top: 1px solid $elements-color;
    padding-top: 81px;
    box-sizing: border-box;
    @media screen and (max-width: 1111px) {
        padding-top: 16px;
        margin-top: 0;
        overflow: hidden;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1111px) {
            flex-wrap: wrap;
        }
    }
    .column {
        margin-bottom: 100px;
        .dropdown-footer {
            @media screen and (max-width: 1111px) {
                transition: .3s;
                height: 0;
                display: none;
            }
        }
        .dropdown-footer_shown {
            @media screen and (max-width: 1111px) {
                height: auto;
                display: block;
            }
        }
        @media screen and (max-width: 1111px) {
            margin-bottom: 26px;
            position: relative;
            &:first-child::before {
                display: none;
            }
            &:before {
                content: '';
                background: $elements-color;
                height: 1px;
                width: 100vh;
                position: relative;
                left: -3%;
                display: block;
                top: -18px;
            }
        }
        .footer__title {
            font-size: 16px;
            font-weight: 600;
            position: relative;
            color: $main-font-color;
            margin-bottom: 11px;
            @media screen and (max-width: 1111px) {
                text-transform: uppercase;
            }
            @media screen and (max-width: 350px) {
                font-size: 12px;
            }
        }
        .footer-has-drop {
            @media screen and (max-width: 1111px) {
                &:after {
                    content: '';
                    background: url('../../img/ar-left.png');
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: 0px;
                    transition: .3s;
                    right: 0;
                }
                &.dropdown-footer_shown_title:after {
                    content: '';
                    background: url('../../img/ar-left.png');
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: 3px;
                    transform: rotate(180deg);
                    right: 0;
                }
            }
        }
        a {
            margin-bottom: 11px;
            display: block;
            opacity: 0.6;
            font-weight: 400;
            transition: 0.1s;
            font-size: 16px;
            @media screen and (max-width: 350px) {
                font-size: 12px;
            }
        }
        a:hover {
            opacity: 1;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 11px;
        }
        .phone {
            opacity: 1;
            color: $main-font-color;
            font-weight: 600;
        }
        .e-mail {
            opacity: 1;
            text-decoration: underline;
            font-weight: 400;
            color: $main-font-color;
        }
        .worktime {
            font-size: 16px;
            font-weight: 400;
            color: $main-font-color;
        }
    }
    .social-icons {
        display: flex;
        width: 120px;
        margin-top: 25px;
        justify-content: space-between;
        a {
            margin: auto 0;
            opacity: 1;
            transform: scale(1.5);
            transition: 0.1s;
            margin-right: 20px;
        }
        svg path {
            transition: 0.3s;
        }
        a:hover svg path {
            fill: $main-color;
        }
    }
    .column_opc {
        .footer__title {
            font-size: 16px;
            font-weight: 600;
            color: $main-font-color;
            margin-bottom: 11px;
            opacity: 0.6;
        }
        a {
            color: $main-font-color;
        }
    }
    form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        input {
            height: 38px;
            padding-left: 9px;
            color: $main-font-color;
            font-size: 12px;
            font-weight: 300;
            border-radius: 5px;
            border: 1px solid $elements-color;
            box-sizing: border-box;
            transition: 0.3s;
        }
        button {
            width: 36px;
            height: 38px;
            border: none;
            background: $main-color;
            border-radius: 0px 5px 5px 0px;
            margin-left: -5px;
            cursor: pointer;
            position: relative;
            transition: 0.3s;
        }
        button:after {
            content: "";
            background: url("../img/e-mail-icon.svg");
            position: absolute;
            width: 16px;
            height: 16px;
            left: 8px;
            top: 10px;
        }
        button:hover {
            background: $main-color-dark;
        }
    }
    .low-footer {
        height: 36px;
        line-height: 36px;
        background: $main-font-color;
        color: #fff;
        @media screen and (max-width: 1111px) {
            a {
                font-size: 12px;
            }
        }
    }
    #button_go-up {
        right: -200px;
        position: fixed;
        z-index: 99999;
        bottom: 16px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        cursor: pointer;
        background: #FADDD9;
        transition: .3s;
        &.show {
            right: 3%;
            transition: .3s;
            transform: unset;
        }
        img {
            width: 13px;
            height: 13px;
            margin-top: 12px;
            margin-left: 13px;
        }
    }
}