@import 'vars';
@import 'normalize';
@import 'components';
@import 'header';
@import 'footer';
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    zoom: 0.8 !important;
    @media screen and (max-width: 1111px) {
        zoom: 1;
    }
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
}

.wrapper__big {
    max-width: 1768px;
    margin: 0 auto;
    height: 100%;
    @media screen and (max-width: 1800px) {
        margin: 0 3%;
    }
}

@import 'checkout-template/main';
@import 'product-template/main';